.DS_Store
data/raw/pamap2_data/Optional/subject101.dat
data/raw/pamap2_data/Optional/subject105.dat
data/raw/pamap2_data/Optional/subject106.dat
data/raw/pamap2_data/Optional/subject108.dat
data/raw/pamap2_data/Optional/subject109.dat
data/raw/pamap2_data/Protocol/subject101.dat
data/raw/pamap2_data/Protocol/subject102.dat
data/raw/pamap2_data/Protocol/subject103.dat
data/raw/pamap2_data/Protocol/subject104.dat
data/raw/pamap2_data/Protocol/subject105.dat
data/raw/pamap2_data/Protocol/subject106.dat
data/raw/pamap2_data/Protocol/subject107.dat
data/raw/pamap2_data/Protocol/subject108.dat
data/raw/pamap2_data/Protocol/subject109.dat
modeling/figs
references